<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>

    <div style="padding-bottom: 3% !important;" class="container">


    <div class="form-group">
        <label for="email">Код</label>
        <input type="text" name="code" id="code">
    </div>


    <span style="color: red" class="error-message" id="error"></span>
    <input id="form-main-button" type="button" value="Сбросить пароль">
    <br>

    </div>
    {% include 'footer.html' %}
    {% block footer %}{% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function (){
            document.getElementById('form-main-button').addEventListener('click', function () {
                let code = document.getElementById('code').value
                const urlParams = new URLSearchParams(window.location.search);
                const session = urlParams.get('session');

                let data = {
                    code: String(code),
                    session: String(session)
                }

                fetch('/reset-password/check-code', {
                    method: 'POST',
                    headers: {"Content-Type": 'application/json'},
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success){
                            window.location.href = '/reset-password?tab=input-newPassword&session=' + data.session
                        }
                        else {
                            document.getElementById('error').innerText = data.error
                        }
                    })
            })
        })
    </script>
</body>
</html>
