<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>

    <div style="padding-bottom: 3% !important;" class="container">


    <div class="form-group">
        <label for="password">Новый пароль</label>
        <input type="text" name="password" id="password">
    </div>


    <span style="color: red" class="error-message" id="error"></span>
    <input id="form-main-button" type="button" value="Сбросить пароль">
    <br>

    </div>
    {% include 'footer.html' %}
    {% block footer %}{% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function (){
            document.getElementById('form-main-button').addEventListener('click', function () {
                let password = document.getElementById('password').value
                const urlParams = new URLSearchParams(window.location.search);
                const hash = urlParams.get('session');

                const error = document.getElementById('error')
                let isValid = true

                if (password.length < 8) {
                    error.innerText = 'Пароль должен быть минимум из 8 символов'
                    isValid = false
                }
                if (!/[a-zA-Z]/.test(password)){
                    error.innerText = 'В пароле должна быть минимум 1 буква'
                    isValid = false
                }
                if (!/\d/.test(password)){
                    error.innerText = 'В пароле должна быть минимум 1 цифра'
                    isValid = false
                }
                if (/[а-яА-Я]/.test(password)) {
                    error.innerText = 'Пароль может содержать буквы только латинского алфавита'
                    isValid = false
                }
            
            
                if (isValid){

                    let data = {
                        password: password,
                        hash: hash
                    }
                    fetch('/reset-password/update-password', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success){
                                window.location.href = '/'
                            }
                            else {
                               error.innerText = data.error
                            }
                        })
                }
                
                

            })
        })
    </script>
</body>
</html>
