.blue{
    background-color: deepskyblue;
}

.chat-content{
    background-color: #2e2e2e;
    border-radius: 10px;
}
.chat-header{
    height: 60px;
    background-color: #3e3e3e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
}


.chat-footer{
    height: 60px;
    background-color: #3e3e3e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.message-container{
    height: calc(100vh - 230px);
    overflow-y: auto;
}

.chat-content p{
    margin-bottom: 0;
}

.message-container::-webkit-scrollbar {
  width: 10px;
}

.message-container::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #424243;
  border-radius: 10px;
}

.message-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7c7c7c;
}
.chat-back{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
}

.chat-back:hover{
    background: linear-gradient(to right, #323131, #3e3e3e);
    border-top-left-radius: 10px ;
}

.chat-name{
    text-align: center;
    position: absolute;
    width: 65%;
    top:18px;
}

.chat-name a{
    text-decoration: none;
    color: white;
}
.chat-name a:hover{
    text-decoration: underline;
}