
.chat-content{
    background-color: #2e2e2e;
    border-radius: 10px;
}
.chat-header{
    height: 60px;
    background-color: #3e3e3e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;

}


.chat-footer{
    height: fit-content;
    background-color: #3e3e3e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

.message-container{
    height: calc(100vh - 230px);
    overflow-y: auto;
}

.chat-content p{
    margin-bottom: 0;
}

.message-container::-webkit-scrollbar {
  width: 10px;
}

.message-container::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #424243;
  border-radius: 10px;
}

.message-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7c7c7c;
}
.chat-back{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
}

.chat-back:hover{
    background: linear-gradient(to right, #323131, #3e3e3e);
    border-top-left-radius: 10px ;
}

.chat-name{
    position: absolute;
    width: calc(65% - 150px);
    top:18px;
    transform: translate(150px);
    text-align: center;
    max-width: 500px;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.chat-name a{
    text-decoration: none;
    color: white;
    position: relative;
}
.chat-name a:hover{
    text-decoration: underline;
}

#message-input{
    height: 40px;
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: #3e3e3e;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
#message-input:focus{
    outline: none;
}

.message{

    word-break: break-word;
}

.message-el{
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.name{
    display: flex;
    gap: 10px;
}

.name a{
    text-decoration: none;
    color: #a6a6a6;
}

.name a:hover{
    text-decoration: underline;
}