.filters-div{
    background-color: #222222;
    border-radius: 10px;
    border: 1px solid #333333;
}

.filters-container{
    margin: 10px;
}

.filter p{
    padding: 10px;
    margin: 0;
}

.active{
    background-color: #2e2e2e;
}

.filter{
    margin-bottom: 5px;
    border-radius: 10px;
    transition: background-color 0.15s;
    cursor: pointer;
}

.filter:hover{
    background-color: #2e2e2e;
}
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #515151;
    border-radius: 10px;
    padding: 3px;
    background-color: #222222;
}

.search-box input[type="text"] {
    flex: 1;
    border: none;
    background: none;
    color: #fff;
    padding: 5px;
    font-size: 16px;
}

.search-box input[type="text"]::placeholder {
    color: #555;
}

.search-box input:focus{
    outline: none;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-box button svg {
    fill: #fff;
    width: 20px;
    height: 20px;
}

.search-content-div{
    background-color: #222222;
    border-radius: 10px;
    border: 1px solid #333333;
    padding: 20px;
}