.setting-element{
    display: flex;
    margin: 13px;
    margin-left: 35px;
    margin-right: 35px;

}

.setting-container hr, .setting-element p{
    margin-bottom: 0;
}

.value{
    margin-left: auto;

    color: white;
    cursor: pointer;
    transition: color 0.15s;
}
.value:hover{
    color: #cacaca;
    text-decoration: underline;
}

.title{
    color: #aaaaaa;
}

.setting-section{
    border-radius: 10px;
    border: 1px solid #3e3e3e;
}

.setting-section h2{
    margin: 35px;
}