
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">


<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3">
            <div class="logo">
                <div style="width: fit-content; cursor: pointer">
                    <img  width="110px" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" >
                </div>
            </div>
            </div>

            <div class="col-sm-9">
                <div class="search">
                    <input id="search-main" type="text" placeholder="Поиск">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="notifications">
                    <div class='notification-hover' style="width: fit-content; cursor: pointer">
                        <img style="width: 30px" src="{{ url_for('static', filename='img/notification_icon.png') }}" alt="">
                      <div class="badge">{{ notification_count }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="user1">
                    <div style="width: fit-content; cursor: pointer">
                        {% if self_avatar_path %}

                            <img style="width: 40px; height: 40px; border-radius: 50%" src="{{ url_for('static', filename='avatars/users/' + self_avatar_path) }}" alt="User Avatar">
                        {% else %}
                            <img style="width: 40px; height: 40px; border-radius: 50%" src="{{ url_for('static', filename='avatars/default.png') }}" alt="User Avatar">
                        {% endif %}
                        <img style="width: 13px;" src="{{ url_for('static', filename='img/bottom.png') }}" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
<hr>



{% endblock %}