
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">


<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3">
            <div class="logo">
                <div style="width: fit-content; cursor: pointer">
                    <a href="/"><img  width="110px" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" ></a>
                </div>
            </div>
            </div>

            <div class="col-sm-9">
                <div class="search">
                    <input id="search-main" type="text" placeholder="Поиск">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="notifications" style="margin: 0; position: relative; top:25%; left: 60%">
                    <div id="open-notifi" class='notification-hover' style="width: fit-content; cursor: pointer; margin: 10px; display: flex">
                        <img style="width: 30px" src="{{ url_for('static', filename='img/notification_icon.png') }}" alt="">

                        <div id="badge" class="badge {% if notification_count == 0 %}hide{%endif%}">
                            <p id="notifi-counter" style="position: relative; margin: 0; bottom: 1px; right: 2px">{{ notification_count }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id='user-right-menu' class="user1" style="cursor: pointer">
                    <div style="width: fit-content;">
                        {% if self_avatar_path %}

                            <img style="width: 40px; height: 40px; border-radius: 50%" src="{{ url_for('static', filename='avatars/users/' + self_avatar_path) }}" alt="User Avatar">
                        {% else %}
                            <img style="width: 40px; height: 40px; border-radius: 50%" src="{{ url_for('static', filename='avatars/default.png') }}" alt="User Avatar">
                        {% endif %}
                        <img id="user-str" style="width: 13px;" src="{{ url_for('static', filename='img/bottom.png') }}" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
<hr>

<div id="search_result" class="search_result hide">
    <div class="search-content">
        <p class="hide" id="no-info">Поиск безрезультатный :(</p>
        <div id="all-result">
            <div id="show-all-result">
                <p style="position: relative; top: 50%; transform: translate(0,-50%); margin-left: 10px; font-size: 15px">Показать все результаты</p>
            </div>
            <hr style="margin-top: -1px">
        </div>

        <div id="people-h">
            <b><p style="font-size: 15px; margin-left: 10px">Люди</p></b>
            <div id="people-container">

            </div>
            <hr>
        </div>

        <div id="group-h">
            <b><p style="font-size: 15px; margin-left: 10px">Сообщества</p></b>
            <div id="group-container">

            </div>
        </div>


    </div>
</div>


<div id="notifications" class="hide">
    <div>
        {% if notifications | length == 0 %}
        <p style="margin: 10px;" id="no-notifi-p">У вас нет уведомлений</p>
        {% else %}
        <p style="margin: 10px;" class="hide" id="no-notifi-p">У вас нет уведомлений</p>
        {% endif %}
    </div>
    <div id="notification-container">


        {% for notification in notifications %}
        <div path="{{notification.href}}" class="notification">
            <div class="notif-main">


                <div class="notif-avatar">
                    <div>
                        {% if notification.type == 'login-to-account' %}
                            <img class="notif-avatar" src="{{ url_for('static', filename='img/' + notification.from_user_avatar_path) }}" alt="">
                        {% elif notification.type == 'newFriendRequest' %}
                        {% if notification.from_user_avatar_path %}
                            <img class="notif-avatar" src="{{ url_for('static', filename='avatars/users/' + notification.from_user_avatar_path) }}" alt="">
                            {% else %}
                            <img class="notif-avatar" src="{{ url_for('static', filename='avatars/default.png') }}" alt="">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="notif-description">
                {% if notification.type == 'login-to-account' %}
                    <p style="font-size: 14px !important; color: #a6a6a6 !important;" class="notif-text">{{ notification.text }} <a href="{{ notification.href }}">{{ notification.from_user }}</a></p>
                {% endif %}
                {% if notification.type == 'newFriendRequest' %}
                    <p class="notif-text">{{ notification.text }} <b><a href="{{ notification.href }}">{{ notification.from_user }}</a></b></p>
                {% endif %}

                </div>
            </div>
            <div class="date" style="display: flex">
                <p class="gray-text">
                    {{notification.date.strftime('%d.%m.%y в %H:%M')}}
                </p>

                <div notifi_id="{{notification.id}}" id="delete-notifi" style="display: flex">
                    <img width="20px" height="20px" style="position: relative; top:5px" src="{{ url_for('static', filename='img/trash.png') }}" alt="">
                    <p class="gray-text">  Удалить</p>
                </div>

            </div>

        </div>
        <hr style="margin: 0; height: 2px">
        {% endfor %}
    </div>

    <div id="notifi-delete-all-div">
        <p class="notifi-delete-all">Удалить все</p>
    </div>

</div>

<div id="right-info" class="hide">
    <div class="right-user-header">
        <div class="right-user-avatar">
            {% if self_avatar_path %}
                <img width="70px" height="70px" style="border-radius: 50%" src="{{ url_for('static', filename='avatars/users/' + self_avatar_path) }}" alt="">
            {% else %}
                <img width="70px" height="70px" style="border-radius: 50%" src="{{ url_for('static', filename='avatars/default.png') }}" alt="">
            {% endif %}
        </div>
        <div class="right-username">
            <b>{{ user.name }} {{user.second_name }}</b>
        </div>
        <div class="right-email">
            {{ user.email }}
        </div>
    </div>
    <hr style="margin: 0">
    <div class="right-user-buttons">
        <div id="btn-setting" class="right-btn">
            <div style="margin-left: 15px; margin-top: 5px; display: flex;">
                <img width="20px" height="20px" src="{{ url_for('static', filename='img/setting.png') }}" alt="Настройки">
                <p style="margin-left: 10px; font-size: 15px">Настройки</p>
            </div>
        </div>
        <div id="btn-support" class="right-btn">
            <div style="margin-left: 15px; margin-top: 5px; display: flex">
                <img width="20px" height="20px" src="{{ url_for('static', filename='img/support.png') }}" alt="Помощь">
                <p style="margin-left: 10px; font-size: 15px">Помощь</p>
            </div>
        </div>
        <div id="btn-exit" class="right-btn">
            <div style="margin-left: 15px; margin-top: 5px; display: flex">
                <img width="20px" height="20px" src="{{ url_for('static', filename='img/exit-right.png') }}" alt="Выйти">
                <p style="margin-left: 10px; font-size: 15px">Выйти</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}