{% block posts %}
{% for post in posts %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/posts.css') }}">
        <div class="post" style="margin-top: 25px">
            <div class="post-header">
                <div class="post-avatar">
                    <img src="{{url_for('static', filename='avatars/' + avatars[loop.index0]) }}" alt="">
                </div>
                <div class="post-info">
                    <div class="post-author">
                        <a id="name" href="/{{ hrefs[loop.index0] }}" style="margin-bottom: 0">{{ authors[loop.index0] }}</a>
                    </div>
                    <div class="post-date">
                        <p style="color: #a6a6a6; font-size: 14px">{{post.date}}</p>
                    </div>
                </div>

                {% if _selfs[loop.index0] == 1 %}
                    <p class="post-rem" post-id="{{post.id}}">Удалить пост</p>
                {% endif %}

            </div>

            <div class="post-content">
                {% if post.text %}
                <div class="post-text">
                    {{ post.text }}
                </div>
                {% endif %}

                {% set count = loop.index0 %}
                <div class="post-files file-{{ posts_files[count]|length }}">
                    {% for file in posts_files[loop.index0] %}
                        <div class="post-file">


                            {% set filetype = file.split('.')[-1] %}
                            {% if filetype == 'mp4' %}
                                <video class="post-file-el" controls>
                                    <source src="{{ url_for('static', filename=file) }}" type="video/mp4">
                                </video>
                            {% else %}
                                <img class="post-file-el" src="{{ url_for('static', filename=file) }}" alt="">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex">
                <div id="likes">
                    {% if liked[count] == 0 %}
                        <img class="like-image" src="{{ url_for('static', filename='img/like_0.png') }}" alt="">
                    {% elif liked[count] == 1 %}
                        <img class="like-image" src="{{ url_for('static', filename='img/like_1.png') }}" alt="">
                    {% endif %}

                    <p id="like-counter">{{ post.likes }}</p>
                </div>
                <div id="comments">
                    <img class="comment-image" src="{{ url_for('static', filename='img/comment.png') }}" alt="">
                    <p id="comment-counter">{{ post.comments }}</p>
                </div>
            </div>

        </div>
<script src="{{ url_for('static', filename='js/loadMorePosts.js') }}"></script>
{% endfor %}
{% endblock %}