<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/friends.css')}}">
    <title>Document</title>
    <style>
        body{
            font-family: Arial, sans-serif;
        }
        .header-content{
            width: 1296px;
            position: relative;
            left: 50%;
            transform: translate(-50%)
        }
        @media screen and (max-width: 1400px){
            .header-content{
                width: 1140px;
            }
        }
        @media screen and (max-width: 1300px){
            .header-content{
                width: 1116px;
            }
        }
        @media screen and (max-width: 1200px){
            .header-content{
                width: 936px;
            }
        }
        @media screen and (max-width: 992px){
            .header-content{
                width: 696px;
            }
        }
        @media screen and (max-width: 768px){
            .header-content{
                width: 516px;
            }
        }
    </style>
</head>
<body style="background-color: #1b1b1b" data-bs-theme="dark">
    <div id="body">
        <div style="position: fixed; z-index: 999; background-color: #1b1b1b; width: 100%; margin-top: -5px">
            <div class="header-content">
                <header>
                    {% include 'header.html' %}
                    {% block header %}{% endblock %}
                </header>
            </div>
        </div>

        <div style="position: relative; top:90px" class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-2">
                        {% include 'left-menu.html' %}
                        {% block left_menu %}{% endblock %}
                    </div>
                    <div class="col-sm-8">

                        <div class="friends-block">
                            <div class="friends-header">
                                <div class="friends-counter-div">
                                    <p class="friends-counter">Всего подписок: {{groops_data_count}}</p>
                                </div>

                                <div class="input-container">
                                    <input id="friends-input" type="text" name="groops-search" placeholder="Поиск сообществ">
                                    <img class="img-load hide" src="{{ url_for('static', filename='img/load.gif') }}" alt="Загрузка">
                                </div>
                            </div>
                            <hr style="margin-left: -20px; margin-right: -20px; margin-top: 20px">
                            <div class="friends-container">
                                {% for i in range(groops_data['titles'] | length) %}
                                    {% set name = groops_data['titles'][i] %}
                                    {% set href = groops_data['hrefs'][i] %}
                                    {% set tag = groops_data['tags'][i] %}
                                    {% set avatar_path = groops_data['avatar_paths'][i] %}
                                    {% set subscribers = groops_data['subscribers'][i] %}
                                    {% set owner = groops_data['owners'][i] %}
                                    <div class="friend-body">
                                        <div class="friends-content">
                                            <div class="friends-avatar">
                                                <a href="{{href}}">
                                                    <img src="{{ url_for('static', filename='avatars/' + avatar_path) }}" alt="">
                                                </a>
                                            </div>
                                            <div class="friends-info">
                                                <div class="name">
                                                    <b><a class="friends-name" href="{{href}}">{{ name }}</a></b>
                                                </div>

                                                <div class="learn">
                                                    Подписчиков: {{subscribers}}
                                                </div>

                                                {% if _self %}

                                                    {% if owner == 0 %}
                                                    <div tag="{{tag}}" class="request-btn" style="cursor: pointer">
                                                        Отписаться
                                                    </div>
                                                    {% else %}
                                                    <div tag="{{tag}}" class="request-btn-rem" style="cursor: pointer">
                                                        Удалить
                                                    </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <hr>
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="no-friend {% if groops_data_count + self_group_count > 0 %} hide {% endif %}">
                                Ни одной группы не найдено :(
                            </div>
                        </div>
                    </div>
                    {% if _self == True %}
                        <div class="col-sm-2">
                            <div class="filter-container">
                                <div section="all" class="filter-element {% if section == 'all' %}active{% endif %}">
                                    <p>Все сообщества</p>
                                </div>
                                <div section="owner" class="filter-element {% if section == 'owner' %}active{% endif %}">
                                    <p>Ваши сообщества</p>
                                </div>

                            </div>

                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    let buttons = document.querySelectorAll('.filter-element')
                                    buttons.forEach(button => {
                                        button.addEventListener('click', function () {
                                            window.location.href = `/groups?user={{ user_page.tag }}&section=${button.getAttribute('section')}`
                                        })
                                    })
                                })
                            </script>
                        </div>
                    {% endif %}
                    <script src="{{ url_for('static', filename='js/groops.js') }}"></script>



                </div>
            </div>
        </div>
    </div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>


</body>
</html>